


@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

/* =========================Home ===============================================*/
/* Gradient ring */
.ring-gradient {
  background: conic-gradient(
    from 0deg,
    #2563eb,
    rgba(37, 99, 235, 0.15),
    #2563eb
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 3px),
    #000 calc(100% - 2px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 3px),
    #000 calc(100% - 2px)
  );
}

/* Slow rotation */
@keyframes spinSlower {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slower {
  animation: spinSlower 14s linear infinite;
}

/* Orbit animation */
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(92px);
  }
  to {
    transform: rotate(360deg) translateX(92px);
  }
}

.animate-orbit {
  animation: orbit 6s linear infinite;
}
